<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Conta</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Notas</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Frequência</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Materias</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Trabalhos</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Eventos</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Instituição</label>
</div>



<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Conta</button>
  <button type="button" class="btn btn-primary">Notas</button>
  <button type="button" class="btn btn-primary">Disciplinas</button>
  <button type="button" class="btn btn-primary">Trabalhos</button>
  <button type="button" class="btn btn-primary">Frequência</button>
  <button type="button" class="btn btn-primary">Eventos</button>
  <button type="button" class="btn btn-primary">Instituição</button>
</div>
<div><h1>Educandário</h1></div>
<div><h2>Bem-vindo ao portal do aluno</h2></div>
<p>Aqui você consegue acompanhar a rotina de estudos, ver notas, trabalhos, eventos 
e muito mais.</p>

<div>
  <ul>
    <h4><li>Nome do aluno: Luiz Quintanilha</li></h4>
    <h4><li>Curso Matriculado: Analíse e Desenvolvimento de Sistemas</li></h4>
    <h4><li>Situação da Matricula: Ativo</li></h4>
    <h4><li>Período atual: Terceiro período </li></h4>
    <h4><li>Total de períodos do curso: 4 (quatro) períodos</li></h4>


  </ul>
</div>
<div class="dados_do_aluno>">
  <% @nome = gets.chomp().to_s %>
  <% @curso_matriculado = gets.chomp() %>
  <% @situacao_matricula= gets.chomp() %>
  <% @periodo_atual = gets.chomp().to_i %>
  <% @tot_perido_curso = gets.chomp().to_i %>
</div>