<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Conta</button>
  <button type="button" class="btn btn-primary">Notas</button>
  <button type="button" class="btn btn-primary">Disciplinas</button>
  <button type="button" class="btn btn-primary">Trabalhos</button>
  <button type="button" class="btn btn-primary">Frequência</button>
  <button type="button" class="btn btn-primary">Eventos</button>
  <button type="button" class="btn btn-primary">Instituição</button>
</div>
<h3>Eventos

Eventos disponibilizados pela instituição

Eventos: 
Data e hora: 
Inf do evento:
Local:
Horas extracurriculares:
</h3>