<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Conta</button>
  <button type="button" class="btn btn-primary">Notas</button>
  <button type="button" class="btn btn-primary">Disciplinas</button>
  <button type="button" class="btn btn-primary">Trabalhos</button>
  <button type="button" class="btn btn-primary">Frequência</button>
  <button type="button" class="btn btn-primary">Eventos</button>
  <button type="button" class="btn btn-primary">Instituição</button>
</div>
<h3>Eventos

  <ul>
    <li>Informações sobre o evento:</li>
    <li>Eventos:</li> 
    <li>Data e hora:</li> 
    <li>Informações sobre o evento:</li>
    <li>Local:</li>
    <li>Horas extracurriculares:</li>
    </ul>

</h3>