<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Conta</button>
  <button type="button" class="btn btn-primary">Notas</button>
  <button type="button" class="btn btn-primary">Disciplinas</button>
  <button type="button" class="btn btn-primary">Trabalhos</button>
  <button type="button" class="btn btn-primary">Frequência</button>
  <button type="button" class="btn btn-primary">Eventos</button>
  <button type="button" class="btn btn-primary">Instituição</button>
</div>
<h1>Aqui ficam informações de notas e médias de cada disciplica</h1>
<div>Notas

  <ol>
    <li>Nota primeira prova: <%= @nota_prova1 %> </li>
    <li>Nota segunda prova: <% @nota_prova2 %></li>
    <li>Media das notas: <%= @media_notas %></li>
  </ol>
  <div>Status: 
    <%  %>
    (Aprovado, Reprovado, Prova Minerva)
    <%  %>
  </div>
</div>