<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Conta</button>
  <button type="button" class="btn btn-primary">Notas</button>
  <button type="button" class="btn btn-primary">Disciplinas</button>
  <button type="button" class="btn btn-primary">Trabalhos</button>
  <button type="button" class="btn btn-primary">Frequência</button>
  <button type="button" class="btn btn-primary">Eventos</button>
  <button type="button" class="btn btn-primary">Instituição</button>
</div>
<h1>Disciplinas:

  Disciplinas cursadas no período:
  <ul>
    <li>Disciplica 1</li>
    <li>Disciplica 2</li>
    <li>Disciplica 3</li>
    <li>Disciplica 4</li>
    <li>Disciplica 5</li>
  </ul>
</h1>